[build]
builder = "nixpacks"

[deploy]
startCommand = "npx prisma db push --accept-data-loss && pnpm start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
